Source: drake
Maintainer: Jose Luis Rivero <jrivero@openrobotics.org>
Uploaders:  Jose Luis Rivero <jrivero@openrobotics.org>, Steven! Ragnarök <steven@openrobotics.org>
Section: misc
Priority: optional
Standards-version: 3.9.7
Build-Depends: clang-3.9, lldb-3.9, alien, autoconf, automake, bash-completion, bison, clang-format, doxygen, fakeroot, flex, freeglut3-dev, g++-5, g++-5-multilib, gdb, gfortran, gfortran-5, gfortran-5-multilib, git, graphviz, libboost-dev, libgtk2.0-dev, libmpfr-dev, libpng12-dev, libqt4-dev, libqt4-opengl-dev, libqt5multimedia5, libqt5opengl5-dev, libqt5x11extras5, libqwt-dev, libtinyxml-dev, libtool, libvtk-java, libvtk5-dev, libvtk5-qt4-dev, libxmu-dev, ninja-build, openjdk-8-jdk, patchutils, perl, pkg-config, python-bs4, python-dev, python-gtk2, python-html5lib, python-lxml, python-numpy, python-pygame, python-scipy, python-sphinx, python-vtk, python-yaml, unzip, valgrind, zip, zlib1g-dev,cmake, cmake-curses-gui, debhelper (>= 9)

Package: drake
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A planning, control, and analysis toolbox for nonlinear dynamical systems.
