Source: drake
Maintainer: Steven! Ragnarök <steven@openrobotics.org>
Uploaders:  Jose Luis Rivero <jrivero@openrobotics.org>
Section: misc
Priority: optional
Standards-version: 3.9.7
Build-Depends: alien,
	     autoconf,
	     automake,
	     bash-completion,
	     cmake,
	     coinor-libclp-dev,
	     coinor-libipopt-dev,
	     doxygen,
	     g++-5,
	     g++-5-multilib,
	     gfortran,
	     gfortran-5,
	     gfortran-5-multilib,
	     git,
	     graphviz,
	     libblas-dev,
	     libboost-all-dev,
	     liblapack-dev,
	     libbz2-dev,
	     libexpat1-dev,
	     libfreetype6-dev,
	     libglib2.0-dev,
	     libglu1-mesa-dev,
	     libhdf5-dev,
	     libjpeg8-dev,
	     libjsoncpp-dev,
	     liblz4-dev,
	     libnetcdf-cxx-legacy-dev,
	     libnetcdf-dev,
	     libnlopt-dev,
	     libmpfr-dev,
	     libogg-dev,
	     libpng-dev,
	     libprotobuf-dev,
	     libqt5multimedia5,
	     libqt5opengl5-dev,
	     libqt5x11extras5,
	     libtheora-dev,
	     libtinyxml-dev,
	     libtinyxml2-dev,
	     libtool,
	     libxmu-dev,
	     make,
	     mesa-common-dev,
	     openjdk-8-jdk,
	     patchutils,
	     pkg-config,
	     protobuf-compiler,
	     libpython3-stdlib,
	     python3,
	     python3-minimal,
	     python3.5,
	     python3.5-minimal,
	     python-dev,
	     python-gtk2,
	     python-lxml,
	     python-matplotlib,
	     python-numpy,
	     python-protobuf,
	     python-pygame,
	     python-scipy,
	     python-sphinx,
	     python-tk,
	     python-yaml,
	     zlib1g-dev,
	     debhelper (>= 9)

Package: drake
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A planning, control, and analysis toolbox for nonlinear dynamical systems.
